<% include ../partials/header %>
<% include ../partials/menu %>
	<div class= "container">
        <img src= "HomeBg.png" alt="background">
        <div>
            <a href="#" class="optionsButton">Login or Sign Up</a>
            <!-- <button class="optionsButton">Login or Sign Up</button> -->
        </div>
        <div class ="title">Create your perfect resumé in minutes</div>
        <div><button class="getStartedButton">Get Started!</button></div>
    </div>

    <div>
        <h1 class= "descriptionTitle">What Résumé Builder Does For You</h1>
    </div>
    <div class = "description">
        <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p1>
    </div>
<% include ../partials/footer %>