<% include ../partials/header %>
<% include ../partials/menu %>
	<body style="background-color:#EDF2F2;">

	<div class= "container">
		<div class = "form">
			<form>
				<a href="/" class="small-button">Home</a>
			</form>
		</div>
		<h1 class = "heading">Log In</h1>

		<div class= "login-box">
			<div class = "form">
				<form class = "login-form" action="/login" method="post">
					<input class = "input" type = "text" id = "username" placeholder = "Username" name="user">
					<input class = "input" type = "password" id = "password" placeholder = "Password" name="pass">
					<button type="submit" class = "apply-button" >Login</button>
				</form>
			</div>
		</div>
		
    </div>

<% include ../partials/footer %>