<% include ../partials/header %>
<% include ../partials/menu %>
	
	<body style="background-color:#EDF2F2;">

	<div class= "container">
		<div class = "form">
			<form>
				<a href="/" class="small-button">Log In or Sign Up</a>
			</form>
		</div>
		<h1 class = "heading">Profile</h1>

		<div class= "login-box">
			<div class = "form">
				<form class = "login-form">
					<input class = "input" type = "text" placeholder = "Email">
					<input class = "input" type = "text" placeholder = "Password">
					<button class = "apply-button">Login</button>
				</form>
			</div>
		</div>
		
    </div>

<% include ../partials/footer %>