<% include ../partials/header %>
<% include ../partials/menu %>
	
	<body style="background-color:#EDF2F2;">

	<div class= "container">
		<h1 class = "heading">Profile</h1>

		<div class= "data-form">
			<div class = "form">
				<form class = "login-form">
					<h3>Personal Information</h3>
					<input class = "input" type = "text" placeholder = "First Name">
					<input class = "input" type = "text" placeholder = "Middle Name">
					<input class = "input" type = "text" placeholder = "Last Name">
					<textarea class = "input" type = "text" placeholder = "Short Bio"></textarea>
					<hr>
					
					<h3>Employment History</h3>
					<input class = "input" type = "text" placeholder = "Title">
					<input class = "input" type = "text" placeholder = "Beginning Date">
					<input class = "input" type = "text" placeholder = "End Date">
					<textarea class = "input" type = "text" placeholder = "Short Description"></textarea>
					
					<hr>
					<button class = "apply-button">Apply</button>
				</form>
			</div>
		</div>
		
    </div>

<% include ../partials/footer %>