<% include ../partials/header %>
<% include ../partials/menu %>

	<body style="background-color:#EDF2F2;">
	<h1 class = "heading">Pick A Template</h1>
	<div class = "container data-form">
		<div class = "cell">
			<img onclick="request_generate(0)" src= "../resources/assets/Template1.png" class = "template-image" alt="template1">
			<div class = "description">
				<h2>Template 1</h2>
				<p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	
	<div class = "container data-form">
		<div class = "cell"> 
			<img onclick="request_generate(1)" src= "../resources/assets/Template2.png" class = "template-image" alt="template1">
			 <div class = "description">
				<h2>Template 2</h2>
				<p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
	</div>
	
<% include ../partials/footer %>