<% include ../partials/header %>
<% include ../partials/menu %>

	<body style="background-color:#EDF2F2;">
	<h1 class = "heading">Pick A Template</h1>
	<div class = "container data-form">
		<div class = "cell">
			<div class = "description">
				<h2>Template 1</h2>
			</div>
			<img onclick="request_generate(0)" src= "../resources/assets/Template1.png" class = "template-image" alt="template1">
		</div>
	</div>
	
	<div class = "container data-form">
		<div class = "cell"> 
			 <div class = "description">
				<h2>Template 2</h2>
			</div>
			<img onclick="request_generate(1)" src= "../resources/assets/Template2.png" class = "template-image" alt="template1">

		</div>
	</div>
	
<% include ../partials/footer %>