<% include ../partials/header %>

	<div class= "container">
        <img src= "../resources/assets/homeBg.png" alt="background">
        <a href="/login"><button class="small-button">Login or Sign Up</button></a>
        <div class ="title">Create your perfect résumé in minutes!</div>
        <div><a href="/profile"><button class="feature-button">Get Started</button></a></div>
    </div>

    <div>
        <h1 class= "description-title">What Your Name Here&trade; Does For You</h1>
    </div>
    <div class = "description">
        <p>Different jobs are looking for unique people with specific skills. Your Name Here allows you to eliminate the tedium of having to create a new resume every time you apply for a different job. We let you save and reuse your professional details so you can save time crafting a personalized resume. With a wide range of beautiful templates, you can create a visually stunning resume that will impress that hiring team.</p>
    </div>

<% include ../partials/footer %>
