<% include ../partials/header %>
<% include ../partials/menu %>
	<body style="background-color:#EDF2F2;">

	<div class= "container">
		<div class = "form">
			<form>
				<a href="/" class="small-button">Home</a>
			</form>
		</div>
		<h1 class = "heading">Login</h1>

		<div class= "login-box">
			<div class = "form">
				<form action="/login" method="POST">
					<input class = "input" type = "text" id = "username" placeholder = "Username" name="user">
					<input class = "input" type = "password" id = "password" placeholder = "Password" name="pass">
					<button type="submit" class = "apply-button">Login</button>
				</form>
			</div>
		</div>
		
    </div>

<% include ../partials/footer %>