<% include ../partials/header %>
<% include ../partials/menu %>

	<div class= "container">
        <div class ="title">Results</div>
        <div><button class="Button">Login</button></div>
        <a href="helloworld.txt" download="helloworld" >here</a>
    </div>

<% include ../partials/footer %>