<% include ../partials/header %>
<% include ../partials/menu %>
	<body style="background-color:#EDF2F2;">
	<div class= "container">
        <div class ="heading">Results</div>
		<%
		var resume_download_link = 'generated/resume' + user_token + '.txt';
		var resume_download = 'resume' + user_token + '.txt';
		%>
        <a class="apply-button" href="<%-resume_download_link%>" download="<%-resume_download%>" >Download Resume</a>
    </div>

<% include ../partials/footer %>