<% include ../partials/header %>
<% include ../partials/menu %>
	<body style="background-color:#EDF2F2;">
	<div class= "container">
        <div class ="heading">Results</div>
        <div><button class="Button">Login</button></div>
        <a href="Latex_templates/helloworld.txt" download="helloworld" >here</a>
    </div>

<% include ../partials/footer %>